*{
    margin: 0;
    padding: 0;
}
li ,a ,button{
    color: grey;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.span a{
    font-weight: bold;
    font-size: 20px;
    color: #3D1508;
    margin-right: 300px;
}

.span2{
   color: #43A091;
   margin-right: 8px;
}
.span3{
   color: #43A091;
}

.log1{
    margin-left: 60px;
} 
header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 30px 10%;
}

.links{
    list-style: none;
}
.links li{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
}
/* .instagram{
    
    width: 2px;
    height: 2px;
    margin-bottom: -25%;
    margin-left: -25%;
    background-color: orange;
    border-radius: 50%;
    padding: 40px;

}
.twitter{
    margin-bottom: -260px;
    margin-left: -17%;
    background-color: rgb(38, 199, 199);
    border-radius: 80px;


} */
.icon{
    display: flex;
    margin-left: 9%;
    font-size: 70px;
}
body{
    background-color: #F1EAEA;;
    padding: 20px;
}
.main{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

}
.fa-instagram{
   margin-right: 50px; 
   background-color: #F0AF3D;
   border-radius: 50%;
   padding: 20px;
   box-shadow: 15px 15px 15px #e7dfe7;
}
.fa-twitter{
    border-radius: 50%;
   padding: 20px;
   color: white;
   background-color: #43A090;
   box-shadow: 15px 15px 15px #e7dfe7;
}
.Contact{
    display: flex;
    margin-left: 10px;
    
}
.buton{
    background-color: #43A091;
    color: #F1EAEA;
    /* margin-left: 10%; */
    width: 15%;
    border-radius: 30px;
    border: none;
    margin-left: 85px;
    padding: 20px;
    box-shadow:5px 5px 5px 6px #F3E0E7;
}
.buton2{
    background-color: #ffffff;
    color: #000000;
    /* margin-left: 10%; */
    width: 15%;
    border-radius: 30px;
    border: none;
    margin-left: 25px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 5px 6px rgb(194, 182, 182);
}
.imo{
    margin-right: 90px;
}
.btn{
    width: 15%;
    border-radius: 30px;
    padding: 12px;
    color: #FFFFFF;
    background-color: #5184F9;
}
/* .buton p{
    color: #FFFFFF; */
    /* margin-right: 10px; */
/* } */
/* button{
    color: white;
    padding: 9px 25px;
    background-color: #43A091;
    border: none;
    border-radius: 50px;
    float: left;
    margin-right: 100px;
    margin-top: 10px;
}
.Contact .buton{
    margin-left: 90px;
}
.buton2{
    margin-right: 30px;
    background-color: #685959;
} */
/* .navbar{
    display: flex;
    margin-left: 260px;
    list-style: none;
    padding: 10px;
    /* justify-content:space-between; */
    
/* }
.navbar li{
text-align: center; */


    /* margin-left: 90%;
    margin-top: 35px;
    border-radius: 100px;
    width: 90px;
    height: 30px;
    border-style: none;
    background-color: #5184F9;
    color: #C6E2FC;
} */

.container{
    margin-top: 100px;
}
h1{
    font-size: 35px;
    margin-left: 90px;
    color: #3F1D0A;
    margin-top: 30px;
}
p{
    margin-left: 90px;
    margin-top: 20px;
}
.Contact{
    margin-right: 10px;
    margin-top: 50px;

    /* padding-left: 20px; */
}
.support{
    /* padding-top: 80px; */
}
.image{
    margin-left: 50%;
    margin-top: -380px;
   /* margin-top: -160px; */
}
.years{
    display: flex;
    /* border: solid rgb(19, 18, 17); */
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(233, 185, 185);
    height: 100px;
}
.yr1{
    border: solid #F1EAEA;
    width: 80%;
    background-color: #FFFFFF;
    text-align: center;
}
.yr1 h1{
    margin-left: 10%;
    color: #3D1508;
    margin-bottom: 15px;
}
.yr1 p{
    margin-left: 10%;
    color: #876D5C;
    margin-top: -20px;
} 
.yr2{
    border: solid #F1EAEA;
    width: 80%;
    background-color: #FFFFFF;
    text-align: center;
}
.yr2 h1{
    margin-left: 10%;
    color: #3D1508;
    margin-bottom: 15px;
}
.yr2 p{
    margin-left: 10%;
    color: #876D5C;
    margin-top: -20px;
}
.yr3{
    border:solid #F1EAEA;
    width: 80%;
    background-color: #FFFFFF; 
    text-align: center; 
}
.yr3 h1{
    margin-left: 10%;
    color: #3D1508; 
    margin-bottom: 15px;
}
.yr3 p{
    margin-left: 10%;
    color: #876D5C;
    margin-top: -20px;
}
.icons{
    display: flex;
    width: 20px;
    margin-left: 10px;
}
.serve{
    color: #7BB9AE;
    /* margin-top: 90px; */
}
.icon4{
margin-top: 90px;

/* padding: 10 10px; */
}
.icon3{
    margin-top: 40px;
    margin-right: 90px;
  
}
.icon2{
    margin-top: 55px;
    margin-right: 90px;
}
.icon1{
    margin-top: 50px;
    margin-right: 90px;
}
.help{
    margin-left: 420px;
    display: flex;
}
.help h1{
    margin-top: 50px;
    margin-left: -15%;
    font-size: 40px;
    font-family: sans-serif;
}
.agency{
    display: flex;
    margin:100px;
    width: 90%;
}
.design1{
    background-color:#F5F9FA;
    /* padding: 5%; */
    /* height: 15%; */
    width: 50%;
    /* height: 240px; */
    padding-top: 5%;


}
.design2{
    background-color:#43A091;
    padding-top: 5%;
    /* height: 15%; */
    width: 50%;

}
.design2 h1{
    color: white;

}
.design2 .more{
    color: white;

}
.design3{
    background-color:#EAF6FE;
    /* padding: 5%; */
    padding-top: 5%;
    /* height: 25%; */
    width: 50%;
}
.more{
    margin-bottom
    : 15%;

}
.provide{
    /* margin-top: 20%; */
    margin-bottom: 10%;
    padding-bottom: 15%;
}
 .design{
     margin-top:10% ;
} 
.projects{
    margin-left: 550px;
    
}
.image2{
    margin-top: -380px;
    margin-left: 70px;
}
.image3{
    margin-left: 540px;
    margin-top: -400px;

}
 .one1{
    background-color:#FFFFFF;
    width: 330px;
    height: 30px;
    border-radius: 20px;
    padding-top: 15px;
    box-shadow: 5px 5px 5px 5px #F1F1F1;
    /* text-align: center; */
}
/* .span{
    width: 50px; */

    /* margin-left: 10px; */
/* } */
.one{
    padding-top: 10%;
}
.make{
    margin-bottom: 30px;
    /* width: 30px; */
}
/* p .one1{
    background-color: white;
} */
.projects span{
    border-radius: 50%;
    background-color: rgb(72, 117, 156);
    /* height:10px;
    width: 20px; */
    margin-left: 30px;
    padding: 10px;
    color: rgb(245, 243, 243);

}
.signup{
    
    text-align: center;
    padding: 70px;
}
.signup p{
    margin-top: 10px;
    padding: 10px;
}
.signup h1{
   font-size: 50px;
}
/* .signup input{
    margin-right: 10%;
    margin-top: -20%; 
    width: 390px;
    height: 45px; */
/* } */
 .input {
     display: flex;
     margin-left: 35%;
     width: 70%;
 }
 .input input{
     width:50%;
     border-radius: 15px;
     background-color: #43A091;
     border: none;
     
 }
 .input button{
     margin-left: -17%;
     margin-bottom: 8px;
     background-color: #5183F9;
      
 }
 /* .place{
     color: #EAF6FE;
 } */
 /* ::placeholder{
color: rgb(0, 0, 0);
padding-left: 5px;
 } */
 .btn{
     /* background-color: blue; */
     border: none;
 }
 .border{
     background-color: #E2E2E2;
     color: #E2E2E2;
 }
  .work{
    margin-top: 14%;
    margin-left: 3%;
 } 
  .work input{
     margin-bottom: 20px;
     padding: 18px;
     width: 40%;
     margin-left: 8%;
 }
 .input2 input{
     margin-left: 130px;
     margin-top: 10px;

 }
 .text{
     margin-left: 60px;
 }
 .two{
    color: #94CFC4;
    margin-top: 100px;
    
 }
 .three{
     font-size: 35px;
     font-weight: bold;
     margin-top: -1px;
 }
 .how{
     margin-left: -25px;
 }
 .name{
     margin-top: 10px;
     margin-left: 65px;

 } 
  
 .textarea{
    width: 400px;
    height: 60px;
    background: #dfd3cd;
    border: 0;
    resize: none;
 }
 .textarea1{
    width: 400px;
    height: 30px;
    background: #dfd3cd;
    border: 0;
 }
 .send{
     margin-left: 128px;
     margin-top: 30px;
     padding: 14px;
     border-radius: 25px;
     border: none;
     background-color: #43A091;
     color: #FFFFFF;
     box-shadow: 6px 6px 6px 6px #dfd3cd;
 }
 .fa-circle-dot{
     background-color: #5184F9;
     color: white;
     padding: 20px;
     border-radius: 50%;
     margin-left: 20px;

    }
    .fa-laptop-code{
        background-color: #FDF0E9;
     color: white;
     padding: 20px;
     border-radius: 50%;
     margin-left: 20px;

    }
    .fa-crown{
        background-color: #FEBA41;
     color: white;
     padding: 20px;
     border-radius: 50%;
     margin-left: 20px;
    }
 
